@import "variables.scss";
@import "mixin.scss";
@import "extend.scss";


.menu-pg{ 
    background-image: url(./images.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: right;
    height: 50vh;
    color: #faf7f7;
    display:$var-dsp;
    justify-content: $var-jst-cnt;
    align-items: center;
    font-family: $var-fnt-fam;
    font-weight: $var-weight;
    text-align: left;
    border: $var-border;
    border-radius: 5px;

}
h1{
    display:$var-dsp;
    font-family: serif;
    font-weight: bold;
    font-size: 100px;
}
nav{

    a{
        display:$var-dsp;
        font-size: 20px;
        font-family: system-ui;
        font-weight: $var-weight;
        justify-content:$var-jst-cnt;
            
    }
button{
    @extend .button;
    &:hover{
        background-color: $var-bg;
    }    
}
}
p{
    @include styling;
    padding:5px;
    font-family:$var-fnt-fam;
}
.intro-p{
        @include para;
    }
    .mynts-p{
        @include para;
    }
    .see-p{
        @include para;

    }
    .refer{
        @include para;

    }
    .contest{
        @include para;
       
    }
    .support{
        @include para;
        
    }
ul{
    color: rgb(87, 17, 122);
    font-size: $var-size;
    font-weight: $var-weight;
    
}
.down{
    font-weight:$var-weight ;
    font-size: 30px;
}   
button{
    @extend .button;
    &:hover{
        background-color:$var-bg;
    }   
}
div{
   p{
    @include para;
   }
}
